<!DOCTYPE html>
<html>
<head>
    <title>Charts</title>
    <style>
        body {
            text-align: center;
            margin: 0;
        }
        
        h1 {
            margin-top: 20px; /* Add space above h1 for better visual appearance */
        }
        
        img {
            display: block;
            margin: 20px auto; /* Center-align images with a margin */
        }
        
    </style>
</head>
<body>
    <h1>Bar Chart</h1>
    <img src="{{ bar_chart_url }}" alt="Bar Chart">

    <h1>Second Bar Chart</h1>
    <img src="{{ bar_chart_url2 }}" alt="Bar Chart">
</body>
</html>
